{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h3>Clientes detalle</h3>

    <h5>{{cliente.apellido}}</h5>
    <h5>{{cliente.nombre}}</h5>
    <h5>{{cliente.edad}}</h5>   
    <h5>{{cliente.dni}}</h5>   
    <h5>{{cliente.status}}</h5>   
    <h5>{{cliente.created}}</h5>   
    <h5>{{cliente.updated}}</h5>     
    <br>
    <a class="btn btn-danger btn-sma" href="{% url 'eliminar' cliente.id %}">Eliminar</a>
    <a class="btn btn-info btn-sma" href="{% url 'editar' cliente.id %}">Editar</a>
    <a class="btn btn-primary btn-sma" href="{% url 'lista' %}">Listar</a>

    <br>
    <br>
</div>


{% endblock %}